*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    position: relative;
    display: inline-block;
    background-color: rgb(216, 215, 138);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.flexbox{
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.BLOQUES{
    height: 550px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 15px;
}

.titulo{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 65px;
    width: 300px;
    background-color: rgb(151, 218, 106);
    text-align: center;
    color: rgba(255, 255, 255, 0.993);
    padding-top: 10px;
}

.tituloTexto{
    font-size: xx-large;
    font-weight: bolder;
}


.espacio{
    width: 70px;
}


.tituloInicial{
    background-color: rgba(0, 0, 0, 0.096);
    border-bottom-width:  5px;
    border-color: rgba(0, 0, 0, 0.021);
    border-style: solid;
    align-content: right;
    text-align: center;
}

.tituloInicial *{
    color: rgba(0, 0, 0, 0.481);
    padding-top: 20px;
}

.containerBotonDropDown{
    padding-left: 10px;
}

.imagenDropDown{
    width: 30px;
    height: 20px;
}

.botonImagenDropDown{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

.botonImagenDropDown:hover{
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 100px;
}

.configuracionesListas{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-block: 5px;
}

#tipoOrden{
    padding-left: 5px;
    
}

.flexboxSubtitulo{
    display: flex;
    flex-direction: row;
}

.botonVaciar{
    background-color: rgba(67, 105, 43, 0.103);
    height: 20px;
    width: 80px;
    color: inherit;
    border: none;
    font-size: small;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.botonVaciar:hover{
    background-color: rgba(67, 105, 43, 0.616);
}

.añadirTarea{
    padding-left: 165px;
}

.botonAñadirTarea{
    background-color: rgba(67, 105, 43, 0.103);
    height: 20px;
    width: 35px;
    color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.botonAñadirTarea:hover{
    background-color: rgba(67, 105, 43, 0.616);
}

.imagenAñadirTarea{
    height: inherit;
    width: inherit;
    filter: invert(100);
}


.vaciarListaSeguridad{
    padding-left: 10px;
}

.contenedorTareas{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top-color: rgba(0, 0, 0, 0.048);
    border-top-style: solid;
    border-top-width: 1px;

    border-bottom-color: rgba(0, 0, 0, 0.048);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* 

#############################

VENTANA DE CREACION DE TAREAS

#############################

*/

.mainAñadirTarea{
    visibility: hidden;
    width: 600px;
    height: 300px;
    position: absolute;
    left: 450px;
    top: 200px;
    z-index: 2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
}

.contenedorTituloModal{
    background-color: #97DA6A;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #2E2E1E;
    font-weight: bolder;
}

.contenedorCuerpoModal{
    background-color: #E1E0A5;
    padding-left: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dejarFondoInutil{
    visibility: hidden;    
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    width: 100%;
    height: 785px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.dejarFondoInutil .ocultar{

}

.dejarFondoInutil .mostrar{
    visibility: visible;
}


.tituloModalTITULO{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
}

.tituloModalBotonSalir{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    height: 25px;
}

.salirCrearTarea{
    height: 20px;
    width: 20px;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    filter: invert(100);
    border-radius: 5px;
}

.salirCrearTarea:hover{
    background-color: rgba(255, 255, 255, 0.103);
}

.imagenSalirCrearTarea{
    height: inherit;
    width: inherit;
}

.contenedorNombreTarea{
    padding-block: 10px;
    display: flex;
    flex-direction: row;
}

.inputNUEVONombreTarea1{
    padding-left: 10px;
    padding-top: 12px;
}

.contenedorPrioridadTarea{
    padding-left: 92px;
    display: flex;
    flex-direction: row;
}

.inputNUEVOPrioridadTarea1{
    padding-left: 10px;
    padding-top: 12px;
}

.inputNUEVOPrioridadTarea2{
    width: 20px;
}

.flechasCrearTarea{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.flechaArriba{
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.flechaArriba:hover{
    background-color: rgba(0, 0, 0, 0.103);
}

.flechaAbajo{
    height: 25px;
    width: 20px;
    transform: rotate(180deg);
    border: none;
    background: none;
    cursor: pointer;
}

.flechaAbajo:hover{
    background-color: rgba(0, 0, 0, 0.103);
}

.contenedorNombre-salir{
    padding-top: 12px;
}

.descripcionNUEVATareaDescripcion{
    padding-top: 5px;
}

.inputNUEVODescripcionTarea{
    tab-size: 100px;
    resize: none;
}

.enviarCREARTarea{

}

.cancelarCREARTarea{
    
}

.contenedorNUEVOBotonesTarea{
    display: flex;
    flex-direction: row;
}
